@import "theme/variables.css";

.container {
    display: flex;
    align-items: center;

    height: max-content;
    min-width: 30%;
    max-width: 30%;

    // border: 1px solid red;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;

    // border: 1px solid greenyellow;
}

.input {
    width: 35px;
    text-align: center;
    background-color: var(--ion-color-light);
    border-radius: 10px;
}